@import "./colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  display: block;
}

button {
  background-color: unset;
  border: unset;
  &:hover {
    cursor: pointer;
  }
}

input[type="text"] {
  border-style: none;
}
input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  &::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid $lightGrayishBlue;
    border-radius: 50%;
    cursor: pointer;
  }
}

input[type="checkbox"]:checked {
  &::after {
    content: url("/images/icon-check.svg");
    background: $checkBackground;
  }
}

ul,
ol {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.center {
    align-items: center;
  }
  &.top {
    align-items: flex-start;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
}

img {
  display: block;
  object-fit: contain;
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: unset;
  }
}
